#cabecera{
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    padding: 15px;
    background-color: rgba(61, 158, 61);
    margin: 10px;
}
#titulo{
    margin-left: 20px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    align-self: center;
}
#balón{
    width: 80px;
}
#contenido{
    border: 2px solid black;
    padding: 15px;
    background-color: rgba(61, 158, 61);  
    margin: 10px; 
}
#pie{
    text-align: center;
    border: 2px solid black;
    padding: 0px;
    background-color: rgba(61, 158, 61);
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
}
#bloque{
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    padding: 15px;
    background-color: rgba(61, 158, 61);
    margin: 10px;
    justify-content: center;
}
#procesar{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 15px;
    background-color: rgba(61, 158, 61);
    margin: 10px;
}
body{
    background-color: beige;
}
